body {
    background-color: beige;
}


.container {
    background-color: azure;
    width: 400px;
    margin: 0 auto; 
}

header div {
    text-align: center;
}

main {
    padding: 10px;
}

p {
    overflow: hidden;
}

header,
footer {
    background-color: blanchedalmond;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

img {
    float: left;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: tomato;
    background-color: wheat;
    padding: 3px;
    border-radius: 5px;
    transition: 1s;
}

nav a:hover {
    background-color: tomato;
    color: wheat;
}

